extends ../includes/layout.pug
block title
  title My App

block content
  #app
    h1 Hello World

  footer
    p created by Thiago de Bastos, 2016. No rights reserved.
block scripts
  script(src="js/main.js")
